.parent{
  margin-top: 25%;
  margin-left: 5%;
  height: 50%;
}
  
.button  {
  margin-top: 0.5%;
  width: 40%;
  height: 40%;  
  margin-left: 7%;
  }

.backgroundImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.imageRightCorner {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden;
  max-width: 30%;  
  max-height: 30%;
}

.imageLeftCorner {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
  max-width: 30%;  
  max-height: 30%;
}

.picturenotdrag {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

