.parent{
  margin-top: 4%;
  margin-left: 5%;
  height: 60%;
  width: 50%;
  z-index: 5;
  position: absolute;
}
  
.button  {
  margin-top: 5%;
  width: 42%;
  height: -1%;  
  margin-left: 7%;
  z-index: 5;
  }

.buttonmargin {
  margin-left: 7%;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.imageRightCorner {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden;
  max-width: 30%;  
  max-height: 30%;
}

.imageLeftCorner {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
  max-width: 30%;  
  max-height: 30%;
}

.picturenotdrag {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.displaypostition {
  orientation: landscape;
}

.backgroundcircle {
  z-index: 0;
  position: absolute;
  overflow: hidden;
}

.circle {
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.circleposition {
  top: 30%;
  right: 5%;
  max-width: 50%;  
  max-height: 50%;
}

.banner {
  z-index: 5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 50%;  
  max-height: 50%;
}